{{>before}}
                    <h4>Contato</h4>
                    <div class="">
                        {{#error}}
                        <div class="row">
                            <div class="col s12">
                                <p class="red-text"><i class="mdi mdi-alert"></i><strong>Ocorreu um erro. Por favor, tente novamente!</strong></p>
                            </div>
                        </div>
                        {{/error}}
                        {{#success}}
                        <div class="row">
                            <div class="col s12">
                                <p class="green-text"><i class="mdi mdi-check"></i><strong>Mensagem enviada com sucesso!</strong></p>
                            </div>
                        </div>
                        {{/success}}
                        {{#empty}}
                        <div class="row">
                            <div class="col s12">
                                <p class="red-text"><i class="mdi mdi-alert"></i><strong>Você deve preencher todos os campos!</strong></p>
                            </div>
                        </div>
                        {{/empty}}
                        <div class="row">
                            <div class="col s12">
                                <p>Para dúvidas ou sugestões, utilize o formulário de contato abaixo e responderemos assim que possível.</p>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12" method="post" action="/contato">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="name" name="name" type="text" class="validate">
                                        <label for="name">Nome</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" name="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="subject" name="subject" type="text" class="validate">
                                        <label for="subject">Assunto</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="message" name="message" class="materialize-textarea"></textarea>
                                        <label for="message">Mensagem</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 center-align">
                                        <button class="btn-large waves-effect waves-light green " type="submit">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
{{>after}}